/target/
.settings/org.eclipse.jdt.apt.core.prefs
.classpath
.project
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.classpath
.settings/org.eclipse.jdt.core.prefs
target/classes/META-INF/maven/org.dapi.tasc/optim/pom.xml
target/classes/META-INF/maven/org.dapi.tasc/optim/pom.properties
target/classes/META-INF/MANIFEST.MF
target/classes/data/Workshop.class
target/classes/data/Worker.class
target/classes/data/Station.class
target/classes/data/Shift.class
target/classes/data/Furniture.class
target/classes/data/Activity.class
.settings/org.eclipse.jdt.core.prefs
.classpath
.project
.classpath
*.prefs
*.class
*.MF
*.MF
*.properties
*.xml
.classpath
